$theme-colors: (
	'primary': #009b95
);

$headings-font-family: 'Zamenhof', sans-serif;

@font-face {
	font-family: 'Zamenhof';
	src: url('/proprietary/fonts/Zamenhof-Plain.woff') format('woff'),
		url('/proprietary/fonts/Zamenhof-Plain.ttf') format('truetype'),
		url('/proprietary/fonts/Zamenhof-Plain.eot') format('embedded-opentype');
}

@import 'bootstrap/scss/bootstrap';

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: black;
}
